body,
html {
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: yellow;
  line-height: 1.6;
  font-size: 25px;
}

.parallax {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg-1 {
  background-image: url("https://images.pexels.com/photos/1903702/pexels-photo-1903702.jpeg");
}

.bg-2 {
  background-image: url(https://images.unsplash.com/photo-1508624217470-5ef0f947d8be?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.content {
  background-color: rgba(0, 0, 0, 0.01);
  color: yellow;
  padding: 40px;
  border-radius: 10px;
  width: 80%;
}

.content h1 {
  font-size: 3rem;
  /* 1 rem = 16px*/
  margin: 0;
}

.normal-section {
  color: yellow;
  padding: 10px 20px;
  background-color: grey;
  text-align: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.content h2 {
  font-size: 2rem;
  color: yellow;
}

.btn-contact {
  padding: 12px 25px;
  background-color: grey;
  color: white;
  border-radius: 5px;
  cursor: pinter;
  font-weight: bold;
  margin-top: 20px;
}

footer {
  background-color: lightgray;
  text-align: center;
  padding: 20px 0;
}

/* flex dan flext-direction lebih baik harus ada keduanya, agar tidak berantakan */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10;
}

.contact-form input,
textarea {
  padding: 10px; /* padding untuk di dalam form, bisa di coba */
  border: 1px solid lightblue;
  border-radius: 5px;
}

.contact-form button {
  background: lightcoral;
  color: antiquewhite;
  padding: 8px;
  border: none;
  cursor: pointer;
}

/* skill and experience */
.wraper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  /* text-align: left; */
  flex-wrap: wrap;
}

.skill-wraper {
  background-color: darkcyan;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
  width: 350px;
}

.skill-wraper h3 {
  margin-top: 1px;
  color: whitesmoke;
}

.skill-wraper ul {
  padding-left: 30px;
}

.profile-img {
  width: 250px;
  height: 190px;
  border-radius: 80%;
  padding: 20px;
  object-fit: cover; /* agar tidak gepeng atau dinamis */
  margin: 20px;
}

.icon {
  width: 150px;
  height: 100px;
  border-radius: 10%;
  padding: 10px;
  object-fit: cover; /* agar tidak gepeng gambar/icon atau dinamis */
  margin: 20px;
  /* display: flex;
  flex-wrap: wrap; */
}

.card-body label {
  color: whitesmoke;
}

.card-body button {
  background-color: whitesmoke;
}
